header {
  width: 100%;
  height: 60px;
  background-color: #242627;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.Header-link {
  text-decoration: none;
  color: white;
  margin-left: 15px;
}

.Header-search {
  padding: 5px;
  margin-right: 15px;
}
