footer {
  width: 100%;
}

.Logo-block {
  font-size: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.Footer-infos {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.Footer-information {
  font-weight: bold;
  font-size: 12px;
}

.Footer-subinfo {
  margin-top: 15px;
  font-size: 8px;
}
.follow-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.logo {
  margin-left: 10px;
  cursor: pointer;
}

@media (min-width: 650px) {
  .Footer-infos {
    justify-content: space-evenly;
  }
}

/*
.Footer-content {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1366px;
  justify-content: space-between;
}

.Logo-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Footer-link {
  display: flex;
  font-size: 25px;
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.Footer-sublink {
  text-decoration: none;
  color: white;
  margin-left: 15px;
  font-size: 10px;
}
.Footer-infos {
  display: flex;
}
.Information-block {
  display: flex;
  flex-direction: column;
}

.Footer-information {
  text-decoration: none;
  color: white;
  font-size: large;
  font-weight: bold;
}

.Footer-subinfo {
  font-size: small;
  text-decoration: none;
  color: white;
}

.follow-block {
  align-items: center;
  width: 200px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.logo {
  margin-top: 5px;
  height: 20px;
  padding: 1px;
}

@media (max-width: 765px) {
  .Footer-link {
    font-size: 10px;
  }
  .Footer-information {
    font-size: 12px;
  }
  .Footer-subinfo {
    font-size: 10px;
  }
  .Information-block {
    margin-left: 10px;
  }
}
 */ ;
